    
    header{
        grid-template-areas: 'h1 i i n  ';
    }
    header h1{
        grid-area: h1;
        color: white;
        font-size: 35px;
        padding: 15px;
        animation: none;
    }

    header img{
        display: block; 
        position: relative;
        animation: img-anim;
        animation-duration: 3s; 
        animation-iteration-count: infinite;      

    }
@keyframes img-anim{
    0%{
        top:0;
        left: 300px;
    }
    50%{
        top: 0;
        left:0;
    }
   
    
    100%{
        top:0;
        left:300px;
    }
    
}
    .nav-menu{
        
        text-align: right;
        margin: 25px 10px;
        
    }
    .nav-menu a{
        font-size: 22px;
     
    }
    main{
        grid-template-areas: 
        'c c c a1'
        ;
    }

    .content{
        height: 100%;
    }
    .content img{
        height: 400px;
        width: 300px;
        float: left;
        padding:1px 15px 2px 0px;
        transition: 1s;
    }
    .content img:hover{
        transform: scale(1.1);
    }
    #masking{
        display: block;
        float: right;
        margin: 5px;
        width: 400px;
        height: 440px;

        -webkit-mask-image: url(images/logo.png);
        mask-image: url(images/logo.png);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat; 


    }
    #masking:hover{
        transition: 3s;
        transform: scale(.5) rotate(360deg);
    }

    aside{
        height: 100%;
        width: 250px;
    }
