*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    
    display: grid;
    grid-template-areas: 
    'h'
    'm'
     
}
header{
    grid-area: h;
    background-color: indigo;
    display: grid;
    grid-template-areas:'h1 n n n n ' ;
    padding: 15px 5px ;
}

header img{
    grid-area: i;
    height: 70px;
    width: 70px;
    display: none;
}
header h1{
    grid-area: h1;
    color: white;
    position: relative;
    animation-name: t-a;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes t-a{
    0%{
        top: 8px;
        left: 0px;
    }
    50%{
        top: 0;
        left: 0px;;
    }
   
    
    100%{
        top: 8px;;
        left:0px;
    }
}
.nav-menu{
    grid-area: n;
    text-align: right;
    margin-top: 10px;
}
.nav-menu a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 12px;
    margin: 5px 2px;
    
    
}
.nav-menu a:hover{
    background-color: gray;
    border-radius: 2px;
}


main{
    grid-area: m;
    background-color: coral;
    
    display:grid;
    
    grid-template-areas: 
    'c'
    'a1'
    ;
}

.content{
    grid-area: c;
    background-color: rgb(24, 41, 39);
    padding: 10px;
    text-align: justify;
    color: white;
    
   
}
.content h1{
    color: rgb(0, 255, 13);
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin: 10px;
    letter-spacing: 2px;
}
.content img{
    display: flex;
    float: left;
    height: 250px;
    width: 200px;
    object-fit: cover;
    padding: 5px 10px 5px 0px;
    transition: 1s;

}
.content img:hover{
    transform: scale(.8) rotate(-360deg) translate(45px,60px);
}
#masking{
    display: none;
}
aside{
    grid-area: a1;
    background-color: rgb(78, 78, 78);
   padding: 20px;
}

aside h2{
    color: white;
    text-align: center;
}
.skills li{
    list-style-type: none;
    font-weight: bolder;
    margin: 50px 0;
    text-transform: uppercase;
    position: relative;
}
.skills li::before{
    content: '';
    position: absolute;

    background-color: rgb(170,167,173);
    width: 100%;
    height: 25px;
    top: calc(100% + 5px) ;
    left: 0;
    border-radius: 1000px;
}
.skills li::after{
    content: '';
    position: absolute;

    
    width: 0%;
    height: 25px;
    top: calc(100% + 5px) ;
    left: 0;
    border-radius: 1000px;

    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 3s;
    
    animation-fill-mode: forwards;
}

.skills li.html::after{
    animation-name: html;
    
}
@keyframes html{
    to{
        width: 85%;
        background-color: rgb(0, 38, 255);
    }
}
.skills li.css::after{
    animation-name: css;
    
}
@keyframes css{
    to{
        width: 70%;
        background-color: rgb(255, 81, 0);
    }
}
.skills li.js::after{
    animation-name: js;
    
}
@keyframes js{
    to{
        width: 45%;
        background-color: rgb(255, 251, 0);
    }
}
.skills li.bootstrap::after{
    animation-name: bootstrap;
    
}
@keyframes bootstrap{
    to{
        width: 55%;
        background-color: rgb(0, 255, 13);
    }
}
.skills li.java::after{
    animation-name: java;
    
}
@keyframes java{
    to{
        width: 35%;
        background-color: rgb(255, 0, 212);
    }
}


footer{
    
    padding: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
}

footer p{
    float: right;
}
button{
    height: 40px;
    width: 40px;
}