header{
    grid-template-areas: 'h1 i i n  ';
}



header img{
    display: block; 
    position: relative;
    animation: img-anim;
    animation-duration: 3s; 
    animation-iteration-count: infinite;      

}
@keyframes img-anim{
    0%{
        top:0;
        left: 120px;
    }
    50%{
        top: 0;
        left:0;
    }


    100%{
        top:0;
        left:120px;
    }
}
.nav-menu{
        
    text-align: right;
    margin: 25px 10px;
    
}

.nav-menu a{
    font-size: 20px;
    
 
}
main{
    grid-template-areas: 
    'c c c a1'
    ;
}
#masking{
   display: none;
}
aside{
    height: 100%;
    width: 200px;
}